@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-title-logo {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}